<h1>マイページ</h1>

<%= image_tag @customer.get_profile_image(63,63) %>

<%= @customer.name %>

<%= link_to "いいね", public_customers_path %>

<%#= @customer.introduction %>

<h2>自分の投稿</h2>

<% @cooks.each do |cook| %>
  <p>料理名</p>
  <span><%= cook.cook_name %></span>

  <p>画像</p>
  <% if cook.image.attached? %>
    <%= image_tag cook.image, size: "100x100" %>
  <% else %>
    <%= image_tag "noimageフォト", size: "100x100" %>
  <% end %>

  <p>ジャンル</p>
  <span><%= cook.genre.name %></span>

  <p>作り方</p>
  <span><%= cook.introduction %></span>

  <%= link_to "編集", edit_public_cook_path(cook.id) %>

<% end %>