<div class="recipe">
<br>
  <div class="container">

    <div class="row">
      <% cooks.each do |cook| %>
        <div class="flex-box">
          <div>
            <ul>
              <table class="table table-borderless">
                <tr>
                  <td class="h5 d-flex justify-content-center bg-warning">
                    <strong>
                      [<%= cook.cook_name %>]
                    </strong>
                    &nbsp;&nbsp;&nbsp;
                    <% if cook.favorited_by?(current_customer) %>
                      <h5 class="d-flex justify-content-end">
                        <%= link_to public_cook_favorites_path(cook), method: :delete do %>
                          <i class="fas fa-heart color-red"></i>&nbsp;<font color="red"><%= cook.favorites.count %></font>
                        <% end %>
                      </h5>
                    <% else %>
                      <h5 class="d-flex justify-content-end">
                        <%= link_to public_cook_favorites_path(cook), method: :post do %>
                          <i class="far fa-heart color-gray"></i>&nbsp;<font color="gray"><%= cook.favorites.count %></font>
                        <% end %>
                      </h5>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td class="icon">
                    <%= link_to public_cook_path(cook) do %>
                      <% if cook.image.attached? %>
                        <%= image_tag cook.image, size: "250x250" %>
                      <% else %>
                        <%= image_tag "noimageフォト", size: "250x250" %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>