<div class="container">
  <%= form_with model: @cook, url: public_cook_path do |f| %>
  <br>
  <div class="d-flex justify-content-center">
    <h1><strong>編集画面</strong></h1>
  </div>
  <br>
  <table class="table table-bordered">
    <tr>
      <td class="bg-light"><%= f.label :料理名（レシピ名） %></td>
      <td><%= f.text_field :cook_name %></td>
    </tr>
    <tr>
      <td class="bg-light"><%= f.label :画像 %></td>
      <td><%= f.file_field :image, accept: "image/*" %></td>
    </tr>
    <tr>
      <td class="bg-light"><%= f.label :ジャンル %></td>
      <td>
        <%= f.collection_select :genre_id, @genres, :id, :name, include_blank: "--選択してください--"  %>
      </td>
    </tr>
    <tr>
      <td class="bg-light"><%= f.label :作り方 %></td>
      <td><%= f.text_area :introduction, :size => "30x10" %></td>
    </tr>
  </table>
  <div class="row justify-content-center">
    <%= f.submit '変更を保存', class: "btn btn-success btn-lg" %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to '削除', public_cook_path(@cook.id), method: :delete, class: "btn btn-danger btn-lg" %>
  </div>
  <% end %>
</div>