<%= link_to "一覧へ戻る", public_cooks_path %>
<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <h1><strong>検索結果</strong></h1>
      </div>
    <br>
      <div class="row">
        <% @cooks.each do |cook| %>
          <div class="col-4">
            <p>
              [<%= cook.cook_name %>]
            </p>
            <%= link_to public_cook_path(cook) do %>
              <% if cook.image.attached? %>
                <%= image_tag cook.image, size: "200x200" %>
              <% else %>
                <%= image_tag "noimageフォト", size: "200x200" %>
              <% end %>
            <% end %>
　　　　　　<div class="list-comment">
              <% if cook.favorited_by?(current_customer) %>
                <p>
                  <%= link_to public_cook_favorites_path(cook), method: :delete do %>
                    ♥<%= cook.favorites.count %>
                  <% end %>
                </p>
              <% else %>
                <p>
                  <%= link_to public_cook_favorites_path(cook), method: :post do %>
                    ♡<%= cook.favorites.count %>
                  <% end %>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>