<div class="container">
  <br>
  <div class="d-flex justify-content-center">
    <h1><strong>料理詳細画面</strong></h1>
  </div>
  <br>
  <table class="table table-bordered">
    <tr>
      <td class="bg-light">投稿者</td>
      <td><%= @cook.customer.name %></td>
    </tr>
    <tr>
      <td class="bg-light">料理名</td>
      <td><%= @cook.cook_name %></td>
    </tr>
    <tr>
      <td class="bg-light">画像</td>
      <td>
        <% if @cook.image.attached? %>
          <%= image_tag @cook.image, size: "250x250" %>
        <% else %>
          <%= image_tag "noimageフォト", size: "250x250" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="bg-light">ジャンル</td>
      <td><%= @cook.genre.name %></td>
    </tr>
    <tr>
      <td class="bg-light">作り方</td>
      <td><%= @cook.introduction %></td>
    </tr>
  </table>
  <div class="card-content">
    <%= render 'public/reviews/form', review: @review, cook: @cook %>
  </div>
</div>