<div class="container">
  <br>
  <div class="d-flex justify-content-center">
    <h1><strong>料理詳細画面</strong></h1>
  </div>
  <br>
  <table class="table table-bordered">
    <tr>
      <td class="bg-light">投稿者</td>
      <td class="margin">
        <font size="5"><%= link_to @customer.name, public_path(@customer) %></font>
        <% if @customer != current_customer %>
          <% if current_customer.following?(@customer) %>
            <%= link_to public_customer_relationships_path(@customer.id), method: :delete, class: "button light ml-4 mt-0" do %>
              <li class="fas fa-user-minus"></li> フォロー解除
            <% end %>
          <% else %>
            <%= link_to public_customer_relationships_path(@customer.id), method: :post, class: "button light ml-4 mt-0" do %>
              <li class="fas fa-user-plus"></li> フォローする
            <% end %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="bg-light">料理名</td>
      <td><%= @cook.cook_name %></td>
    </tr>
    <tr>
      <td class="bg-light">画像</td>
      <td>
        <% if @cook.image.attached? %>
          <%= image_tag @cook.image, size: "250x250" %>
        <% else %>
          <%= image_tag "noimageフォト", size: "250x250" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="bg-light">ジャンル</td>
      <td><%= @cook.genre.name %></td>
    </tr>
    <tr>
      <td class="bg-light">作り方</td>
      <td>
        <%= @cook.introduction %>
        <br>
      </td>
    </tr>
    <tr>
      <td class="bg-light">コメント</td>
      <td>
        <p>コメント件数：<%= link_to @cook.cook_comments.count, public_cook_cook_comments_path(@cook) %></p>
        <%= link_to "コメントを書く", public_cook_cook_comments_path(@cook) %>
      </td>
    </tr>
  </table>
  <div class="card-content">
    <%= render 'public/reviews/form', review: @review, cook: @cook %>
  </div>
</div>
<br>