<h1>料理詳細画面</h1>

<h2>料理名</h2>
<p><%= @cook.cook_name %></p>

<h2>画像</h2>
<% if @cook.image.attached? %>
  <%= image_tag @cook.image, size: "100x100" %>
<% else %>
  <%= image_tag "noimageフォト", size: "100x100" %>
<% end %>

<h2>作り方</h2>
<p><%= @cook.introduction %></p>

<%= link_to "編集", edit_public_cook_path(@cook.id) %>