<div class="container">
  <%= form_with model: @genre, url: admin_genre_path, local: true do |f| %>
  <br>
  <div class="d-flex justify-content-center">
    <h1><strong>ジャンル編集</strong></h1>
  </div>
  <div class="d-flex justify-content-center">
    <div>
      <div>
        <br>
        <td><%= f.label :ジャンル名 %>&nbsp;&nbsp;&nbsp;</td>
        <td><%= f.text_field :name, placeholder: "ジャンル名" %>&nbsp;&nbsp;&nbsp;</td>
        <td><%= f.submit '変更を保存', class: "btn btn-success btn-sm" %></td>
      </div>
    </div>
  </div>
  <%= link_to "一覧へ戻る", admin_genres_path %>
</div>
<% end %>
<br>

