<div class="d-flex justify-content-center">
  <%= flash[:notice] %>
</div>
<div class="container">
  <%= form_with model: @memo, url: public_customer_memos_path, local: true do |f| %>
  <br>
  <div class="d-flex justify-content-start">
    <h1><strong>メモを書く</strong></h1>
  </div>
  <div class="d-flex justify-content-start">
    <div>
      <div>
        <br>
        <td><%= f.label :メモ記入欄 %>&nbsp;&nbsp;&nbsp;</td>
        <td><%= f.text_field :name, placeholder: "メモ" %>&nbsp;&nbsp;&nbsp;</td>
        <td><%= f.submit '追加', class: "btn btn-success btn-sm" %></td>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="container">
  <br>
  <div class="d-flex justify-content-center">
    <h1><strong>メモ一覧</strong></h1>
  </div>
  <br>
  <div class="row justify-content-end">
    <% if @memos.count != 0 %>
      <%= button_to "メモを空にする", destroy_all_public_customer_memos_path, method: :delete, class: "btn btn-danger btn-sm" %>
    <% end %>
  </div>
  <br>
  <% if @memos.empty? %>
    <div calss="row">
      <div>メモがありません。</div>
    </div>
  <% else %>
    <div class="row">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>記入欄</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @memos.each do |memo| %>
            <tr>
              <td><%= memo.name %></td>
              <td><%= button_to '買った', public_customer_memo_path(current_customer.id, memo.id), method: :delete, class: "btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <div class="row justify-content-end">
    <div class="col-4">
      <table class="table table-bordered">
        <tr>
          <th class="table-active">購入予定数</th>
          <th><%= @memos.count %>品</th>
        </tr>
      </table>
    </div>
  </div>
